@import 'normalize.css';



:root {
    --header-support-height: 14px;
    --header-height: 100px;
    --header-background: #2B6A85;
    
    --bg-white: #fff;
    --bg-black: #000;

    --color-white: #fff;
    --color-black: #000;

}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    overflow-y: overlay;
}

::-webkit-scrollbar{
    width: 6px;
}

::-webkit-scrollbar-track{
    background: transparent;
}

::-webkit-scrollbar-thumb{
    background: #3a3434;
    border-radius: 10px;
    // display: none;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover{
    display: block;
}



